.eventos_title{
    width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}

.main_content{
    margin-top: 50px;
}

.input_submit{
    cursor: pointer;
}

.cardsevent_container.myevents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}