.requests-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.requests-details__title {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}

.requests-details__title span {
  font-size: 1.4rem;
  font-weight: 500;
  color: gray;
}

.requests-details__button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
}

.requests-details__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.requests-details__button .icon-arrowleft {
  width: 100%;
  color: black;
}

.requests-details__grid {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "expediente expediente expediente expediente"
    "fechaRegistro nombre nombre estado"
    "organizador grupo horaInicio fechaInicio"
    "fechaFin tipoEvento descripcion descripcion"
    "fotos inscripcion certificado ambiente"
    "fotos participantes observaciones observaciones"
    "fotos duracion campus campus";
}

.requests-details__item:nth-child(1) {
  grid-area: expediente;
  display: block;
}

.request-img {
  width: 300px;
  margin: 0 auto;
}

.requests-details__item:nth-child(2) {
  grid-area: fechaRegistro;
}

.requests-details__item:nth-child(3) {
  grid-area: nombre;
}

.requests-details__item:nth-child(4) {
  grid-area: estado;
}

.requests-details__item:nth-child(5) {
  grid-area: organizador;
}

.requests-details__item:nth-child(6) {
  grid-area: grupo;
}

.requests-details__item:nth-child(7) {
  grid-area: horaInicio;
}

.requests-details__item:nth-child(8) {
  grid-area: fechaInicio;
}

.requests-details__item:nth-child(9) {
  grid-area: fechaFin;
}

.requests-details__item:nth-child(10) {
  grid-area: tipoEvento;
}

.requests-details__item:nth-child(11) {
  grid-area: descripcion;
}

.requests-details__item:nth-child(12) {
  grid-area: fotos;
  border: 1px solid black; /* Eliminar esto al final*/
}

.requests-details__item:nth-child(13) {
  grid-area: inscripcion;
}

.requests-details__item:nth-child(14) {
  grid-area: certificado;
}
.requests-details__item:nth-child(15) {
  grid-area: ambiente;
}

.requests-details__item:nth-child(16) {
  grid-area: participantes;
}

.requests-details__item:nth-child(17) {
  grid-area: observaciones;
}

.requests-details__item:nth-child(18) {
  grid-area: duracion;
}

.requests-details__item:nth-child(19) {
  grid-area: campus;
}

.requests-details__item {
  display: flex;
  flex-direction: column;
}

.requests-details__item span {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.requests-details__item input {
  border: none;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid black; /*Eliminar esta linea al final*/
  color: black;
  background-color: white;
}

.requests-details__item textarea {
  resize: none;
  height: 120px;
  background-color: white;
  border: 1px solid black;
}
