.request-list-container main {
  min-width: 760px;
}

.request-list__title {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
}

.request-list__search-container {
  display: flex;
  justify-content: flex-end;
}

.request-list__search {
  display: flex;
  width: 250px;
  padding: 5px 10px;
  align-items: center;
  margin-top: 15px;
  text-align: right;
  border: 1px solid black;
  border-radius: 5px;
}

.request-list__search input {
  border: none;
  outline: none;
}

.request-list__search .icon-search {
  width: 1.5rem;
  margin-right: 15px;
  color: black;
}

.request-list__header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.request-list__header p {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.request-list__button {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: none;
  width: 12px;
  height: auto;
  background-color: white;
}

.request-list__header .icon {
  width: 100%;
  color: black;
}

.request-list__list {
  margin-top: 30px;
}
